.video-page-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
}

.video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.video {
    width: 150px;
    height: 100px;
    background-color: crimson;
    color: white;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-text {
    padding: 1em;
}

.video-elem {
    outline: none;
    width: 75vw;
}
